In [1]:
import numpy as np

Matrix dibawah ini memperlihatkan kita jika kita mengisi parameter dengan data yang berjumlah satu saja (misalnya 3), maka akan menghasilkan matrix 2D dengan 3 baris dan 3 kolom.

In [2]:
mat_a = np.eye(3)
mat_a

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

Sedangkan jika kita mengisi parameter dengan data yang berjumlah dua (misalnya 5,3), maka akan menghasilkan matrix 2D dengan 5 baris dan 3 kolom.

In [3]:
mat_b = np.eye(5,3)
mat_b

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.]])

Lalu jika kita mengisi parameter ketiga misalnya dengan (k=1), hal ini bermaksud bahwa identitas akan dimulai pada indeks kolom ke-1.

In [4]:
mat_c = np.eye(5,3, k=1)
mat_c

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])